
[recorder]
write_delay = 20
productive = []


[date_and_time]

# Christmas, Thanksgiving, and MLK jr turned off
disabled_days = [
    {month = "Dec", day = 25},
    {month = "Nov", week = 4, day = "Thu"},
    {month = "Jan", week = 3, day = "Mon"},
]

# 9am - 5pm hours Workdays
# 12pm - 3pm hours Weekends
start_hours = [
    {weekday = "Mon", start = 9, stop = 17},
    {weekday = "Tue", start = 9, stop = 17},
    {weekday = "Wed", start = 9, stop = 17},
    {weekday = "Thu", start = 9, stop = 17},
    {weekday = "Fri", start = 9, stop = 17},
    {weekday = "Sat", start = 12, stop = 15},
    {weekday = "Sun", start = 12, stop = 15},
]

